.booking {
  padding: 30px 20px 0 20px;
}

.booking__title {
  margin: 0 0 18px 0;
  text-align: center;
  font-size: 21px;
  font-family: @sedona-title-font;
  text-transform: uppercase;
}

.booking__intro {
  margin: 0 0 35px 0;
  line-height: 24px;
  text-align: center;
  font-size: @sedona-regular-size;
  text-transform: uppercase;
}

.booking__button {
  box-sizing: border-box;
  padding-top: 16px;
  margin-bottom: 50px;
  text-align: center;
  width: 280px;
  height: 58px;
  background-color: @sedona-main-color;
}

.booking__button--find {
  font-size: 21px;
  font-family: @sedona-title-font;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
