.info-form {
  margin-top: 34px;
  padding: 0 20px;
  background-color: #ffffff;
}

.info-form__fieldset {
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: 1px solid green;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.info-form__legend {
  margin-bottom: 15px;
}

.info-form__input {
  border: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  color: rgba(0, 0, 0, 1);
}

.info-form__text {
  box-sizing: border-box;
  border: none;
  height: 160px;
  width: 100%;
  text-align: left;
  margin: 0 0 45px 0;
  padding: 20px;
  font: inherit;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  color: rgba(0, 0, 0, 1);
  background-color: #f2f2f2;
}

.info-form__label {
  text-transform: none;

  &--name {
    font-family: "ptsans", "arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
}

.info-form__input-checkbox {
  padding-left: 62px;
}

.info-form__input-radio {
  padding-left: 62px;
}

.info-form__button {
  border: none;
  margin-bottom: 37px;
  text-align: center;
  width: 280px;
  height: 58px;
  background-color: @sedona-main-color;
  font-size: 21px;
  font-family: @sedona-title-font;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .info-form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    margin: 0;
  }

  .info-form__fieldset {
    flex-shrink: 0;
    width: 324px;

    &--fullwidth {
      width: 648px;
    }

    &--order {
      order: -1;
    }
  }

  .info-form__btn {
    width: 648px;
  }
}


@media (min-width: @desktop-width) {
  .info-form {
    padding: 0 120px;
  }

  .info-form__fieldset {
    width: 480px;

    &--fullwidth {
      width: 960px;
    }
  }

  .info-form__btn {
    width: 960px;
  }
}
