.info-form {
  margin: 0;
  padding: 13px 0 57px 0;
  background-color: #ffffff;
}

.info-form__fieldset {
  box-sizing: border-box;
  position: relative;
  border: none;
  text-align: center;
  margin: 0;
  padding: 20px 20px 5px 20px;
  font-size: @sedona-title-size;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    background-color: #e5e5e5;
  }

  &--contacts {
    padding: 20px 20px 17px 20px;
  }

  &--impression {
    padding: 20px 20px 17px 20px;
  }

  &--place {
    padding: 20px 20px 0 20px;
  }
}

.info-form__legend {
  position: relative;
  margin: 0 0 20px 0;

  &--place {
    margin: 0 0 15px 0;
  }
}

.info-form__item {
  display: flex;
  text-align: left;
  min-height: 58px;
  margin-bottom: 20px;

  &--place {
    margin: 0;
  }

  &--contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 13px;
  }

  &--phone::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-image: url("../img/icon-phone.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e6e6e6;
  }

  &--email::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-image: url("../img/icon-mail.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e6e6e6;
  }
}

.info-form__input {
  box-sizing: border-box;
  border: none;
  width: 68%;
  height: 58px;
  flex-grow: 1;
  text-align: left;
  margin: 0;
  padding: 0 0 0 22px;
  background-color: #f2f2f2;
  font: inherit;
  font-size: @sedona-title-size;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);

  &--contacts {
    padding-right: 60px;
  }

  &--impression:checked + .info-form__label--impression::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #333333;
  }

  &--place:checked + .info-form__label--place::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    background-color: #e4e4e4;
  }

  &:focus {
    background-color: #ffffff;
    outline: 3px solid #e4e4e4;
  }
}

.info-form__text {
  box-sizing: border-box;
  border: none;
  height: 160px;
  width: 100%;
  text-align: left;
  margin: 0 0 37px 0;
  padding: 15px 0 0 20px;
  font: inherit;
  font-size: @sedona-title-size;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  background-color: #f2f2f2;
  overflow: auto;

  &::-webkit-input-placeholder {
    color: #000000;
  }

  &:-ms-input-placeholder {
    color: #000000;
  }
}

.info-form__label {
  display: block;
  text-transform: none;

  &--name {
    font-family: "ptsans", "arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 13px 0 0;
    color: #333333;
    font-weight: 400;
  }

  &--contacts {
    font-family: "ptsans", "arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    padding: 0 0 0 22px;
    margin-bottom: 5px;
  }

  &--impression {
    position: relative;
    box-sizing: border-box;
    height: 58px;
    padding: 15px 0 0 57px;
    margin-bottom: 11px;
  }

  &--impression::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    background-color: #f2f2f2;
    border-radius: 50%;
  }

  &--impression:hover::before {
    background-color: #e5e5e5;
  }

  &--impression:active::before {
    background-color: #d5d5d5;
  }

  &--impression:active::after {
    opacity: 0.3;
  }

  &--place {
    position: relative;
    box-sizing: border-box;
    text-align: left;
    height: 58px;
    padding: 15px 0 0 78px;
    margin-bottom: 22px;
  }

  &--place::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    background-color: #f2f2f2;
    border-radius: 10%;
  }

  &--place:hover::before {
    background-color: #e5e5e5;
  }

  &--place:active::before {
    background-color: #d5d5d5;
  }

  &--place:active::after {
    opacity: 0.3;
  }
}

.info-form__input-checkbox {
  padding-left: 62px;
}

.info-form__button {
  display: block;
  border: none;
  margin: 0 auto;
  text-align: center;
  width: 280px;
  min-height: 58px;
  font-family: "ptsans", "arial", sans-serif;
  background-color: @sedona-main-color;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    background-color: #669ec1;
  }

  &:active {
    background-color: #5596be;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .info-form {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 60px 0 60px;
    margin: 0;
  }

  .info-form__item:nth-child(4) {
    margin-bottom: 0;
  }

  .info-form__item {
    &--place {
      height: 50px;
      margin-bottom: 31px;
    }

    &--contacts {
      height: 89px;
      margin-bottom: 24px;
    }
  }

  .info-form__fieldset {
    flex-shrink: 0;
    width: 324px;
    padding: 0 0 0 0;

    &::after {
      display: none;
    }

    &--name {
      padding: 0 0 0 60px;
    }

    &--place {
      width: 648px;
      padding: 30px 0 0 0;
    }

    &--contacts {
      width: 100%;
      padding: 50px 0 0 0;
    }

    &--impression {
      order: -1;
      padding: 0 0 0 0;
      border-right: 1px solid #e5e5e5;
    }

    &--comment {
      width: 100%;
      padding: 35px 0 0 0;
    }
  }

  .info-form__flexbox-place {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 90px 0 95px;
  }

  .info-form__legend {
    position: relative;
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 57px;

    &--contacts {
      text-align: center;
      margin-bottom: 25px;
    }

    &--contacts::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 125px;
      top: 11px;
      left: 0;
      background-color: #e5e5e5;
    }

    &--contacts::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 125px;
      top: 11px;
      right: 0;
      background-color: #e5e5e5;
    }

    &--place {
      text-align: center;
      padding: 0 120px;
      margin: 0 0 40px 0;
    }

    &--place::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 125px;
      top: 25px;
      left: 0;
      background-color: #e5e5e5;
    }

    &--place::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 125px;
      top: 25px;
      right: 0;
      background-color: #e5e5e5;
    }

    &--comment {
      display: block;
      padding: 0 198px;
      margin: 0 0 60px 0;
    }

    &--comment::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 125px;
      top: 13px;
      left: 0;
      background-color: #e5e5e5;
    }

    &--comment::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 125px;
      top: 13px;
      right: 0;
      background-color: #e5e5e5;
    }
  }

  .info-form__label {
    text-align: left;

    &--impression {
      padding-left: 75px;
      margin-bottom: 20px;
    }

    &--impression:nth-child(6) {
      margin-bottom: 0;
    }

    &--impression::before {
      left: 0;
    }

    &--place {
      width: 200px;
      padding: 15px 0 0 77px;
    }
  }

  .info-form__input {
    &--contacts {
      width: 648px;
      margin-bottom: 24px;
    }

    &--impression:checked + .info-form__label--impression::after {
      left: 16px;
    }
  }

  .info-form__btn {
    display: flex;
    justify-content: space-between;
    width: 648px;
    margin-bottom: 60px;
  }

  .info-form__text {
    margin: 0 0 50px 0;
  }

  .info-form__button {
    margin: 0;
    width: 325px;
    padding-right: 15px;
  }

  .info-form__require {
    margin: 17px 0 0 0;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .info-form {
    padding: 0 120px;
  }

  .info-form__item {
    &--contacts {
      display: flex;
      width: 480px;
      height: 58px;
      margin-bottom: 24px;
    }

    &--phone::before {
      right: 80px;
    }

    &--place {
      width: 205px;
    }
  }

  .info-form__fieldset {
    width: 480px;

    &--name {
      padding: 0 0 0 80px;
    }

    &--place {
      width: 960px;
    }

    &--contacts {
      width: 100%;
      padding-top: 47px;
    }

    &--comment {
      width: 100%;
    }
  }

  .info-form__flexbox-contacts {
    display: flex;
    justify-content: space-between;
  }

  .info-form__flexbox-place {
    padding: 0;
  }

  .info-form__legend {
    &--impression {
      margin: 0 0 58px 80px;
    }

    &--place {
      padding: 0 320px;
    }

    &--place::after {
      width: 280px;
    }

    &--place::before {
      width: 280px;
    }

    &--contacts {
      margin-bottom: 73px;
    }

    &--contacts::after {
      width: 280px;
    }

    &--contacts::before {
      width: 280px;
    }

    &--comment {
      padding: 0 350px;
      margin-bottom: 58px;
    }

    &--comment::after {
      width: 280px;
    }

    &--comment::before {
      width: 280px;
    }
  }

  .info-form__label {
    &--impression {
      padding-left: 80px;
    }

    &--impression::before {
      left: 5px;
    }

    &--contacts {
      padding: 18px 17px 0 0;
    }

    &--place {
      text-align: center;
      padding: 15px 0 0 77px;
    }

    &--mountain::before {
      left: 8px;
    }

    &--park::before {
      left: 15px;
    }
  }

  .info-form__input {
    &--contacts {
      flex-grow: 0;
      width: 315px;
    }

    &--impression:checked + .info-form__label--impression::after {
      left: 20px;
    }

    &--place:checked + .info-form__label--park::after {
      left: 31px;
    }

    &--place:checked + .info-form__label--mountain::after {
      left: 25px;
    }
  }

  .info-form__btn {
    width: 960px;
    margin-bottom: 67px;
  }

  .info-form__button {
    width: 480px;
    padding: 0;
  }
}
