.info-form {
  margin: 0;
  padding: 15px 20px 37px 20px;
  background-color: #ffffff;
}

.info-form__fieldset {
  box-sizing: border-box;
  border: none;
  text-align: center;
  margin: 0;
  padding: 20px 0 5px 0;
  outline: 1px solid green;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);

  &--contacts {
    padding: 20px 0 17px 0;
  }

  &--impression {
    padding: 20px 0 17px 0;
  }

  &--place {
    padding: 20px 0 0 0;
  }
}

.info-form__legend {
  margin: 0 0 20px 0;

  &--place {
    margin: 0 0 15px 0;
  }
}

.info-form__item {
  display: flex;
  text-align: left;
  min-height: 58px;
  margin-bottom: 20px;

  &--place {
    margin: 0;
  }

  &--contacts {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 13px;
  }
}

.info-form__input {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 58px;
  flex-grow: 1;
  text-align: left;
  margin: 0;
  padding: 0 0 0 22px;
  background-color: #f2f2f2;
  font: inherit;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  color: rgba(0, 0, 0, 1);

  &--contacts {
    padding-right: 60px;
  }
}

.info-form__text {
  box-sizing: border-box;
  border: none;
  height: 160px;
  width: 100%;
  text-align: left;
  margin: 0 0 37px 0;
  padding: 15px 0 0 20px;
  font: inherit;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  color: rgba(0, 0, 0, 1);
  background-color: #f2f2f2;
}

.info-form__label {
  display: block;
  text-transform: none;

  &--name {
    font-family: "ptsans", "arial", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px 13px 0 0;
  }

  &--contacts {
    font-family: "ptsans", "arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: left;
    padding: 0 0 0 22px;
    margin-bottom: 5px;
  }

  &--impression {
    box-sizing: border-box;
    height: 58px;
    padding: 15px 0 0 57px;
    margin-bottom: 11px;
  }

  &--place {
    box-sizing: border-box;
    text-align: left;
    height: 58px;
    padding: 15px 0 0 78px;
    margin-bottom: 22px;
  }
}

.info-form__input-checkbox {
  padding-left: 62px;
}

.info-form__button {
  display: block;
  border: none;
  margin: 0 auto;
  text-align: center;
  width: 280px;
  height: 58px;
  background-color: @sedona-main-color;
  font-size: 21px;
  font-family: @sedona-title-font;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .info-form {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 60px 0 60px;
    margin: 0;
  }

  .info-form__item:nth-child(4) {
    margin-bottom: 0;
  }

  .info-form__item {
    &--place {
      height: 50px;
      outline: 1px solid green;
      margin-bottom: 31px;
    }
  }

  .info-form__item {
    &--contacts {
      margin-bottom: 0;
    }
  }

  .info-form__fieldset {
    flex-shrink: 0;
    width: 324px;
    padding: 0 0 0 0;

    &--name {
      padding: 0 0 0 60px;
    }

    &--place {
      width: 648px;
      padding: 30px 0 0 0;
    }

    &--contacts {
      width: 100%;
      padding: 70px 0 0 0;
    }

    &--impression {
      order: -1;
      padding: 0 0 0 0;
    }

    &--comment {
      width: 100%;
      padding: 35px 0 0 0;
    }
  }

  .info-form__flexbox-place {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 90px 0 95px;
  }

  .info-form__legend {
    font-size: 21px;
    line-height: 26px;
    text-align: left;
    margin-bottom: 57px;

    &--contacts {
      text-align: center;
      margin-bottom: 25px;
    }

    &--place {
      text-align: center;
      margin: 0 120px 40px 120px;
    }

    &--comment {
      margin: 0 170px 60px 198px;
    }
  }

  .info-form__label {
    text-align: left;

    &--impression {
      padding-left: 75px;
      margin-bottom: 20px;
    }

    &--impression:nth-child(6) {
      margin-bottom: 0;
    }

    &--place {
      width: 200px;
      padding: 15px 0 0 77px;
    }
  }

  .info-form__input {
    &--contacts {
      margin-bottom: 24px;
    }
  }

  .info-form__btn {
    display: flex;
    justify-content: space-between;
    width: 648px;
    min-height: 117px;
  }

  .info-form__text {
    margin: 0 0 50px 0;
  }

  .info-form__button {
    margin: 0;
    width: 325px;
    padding: 0 13px 0 0;
  }

  .info-form__require {
    margin: 17px 0 0 0;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
  }
}

@media (min-width: @desktop-width) {
  .info-form {
    padding: 0 120px;
  }

  .info-form__item {
    &--contacts {
      display: flex;
      width: 480px;
    }

    &--place {
      width: 205px;
    }
  }

  .info-form__fieldset {
    width: 480px;

    &--name {
      padding: 0 0 0 80px;
    }

    &--place {
      width: 960px;
    }

    &--contacts {
      width: 100%;
      padding-top: 67px;
    }

    &--comment {
      width: 100%;
    }
  }

  .info-form__flexbox-contacts {
    display: flex;
    justify-content: space-between;
  }

  .info-form__flexbox-place {
    padding: 0;
  }

  .info-form__legend {
    &--impression {
      margin: 0 0 58px 80px;
    }

    &--place {
      margin: 0 320px 40px 320px;
    }

    &--contacts {
      margin-bottom: 73px;
    }

    &--comment {
      margin: 0 350px 59px 353px;
    }
  }

  .info-form__label {
    &--impression {
      padding-left: 80px;
    }

    &--contacts {
      padding: 18px 17px 0 0;
    }

    &--place {
      text-align: center;
      padding: 15px 0 0 77px;
    }
  }

  .info-form__input {
    &--contacts {
      flex-grow: 0;
      width: 316px;
    }
  }

  .info-form__btn {
    width: 960px;
    min-height: 123px;
  }

  .info-form__button {
    width: 480px;
  }
}
