.page-footer {
  min-height: 230px;
  padding: 35px 85px 0 85px;
}

.page-footer__hashteg {
  margin: 0 0 36px 0;
  font-size: 21px;
  text-align: center;
  font-family: @sedona-title-font;
  text-transform: uppercase;
}
