.page-header {
  position: relative;
}

.page-header__logo-link {
  position: absolute;
  width: 100px;
  height: 85px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .page-header__logo-link {
    top: 0;
  }
}

