.sedona-intro {
  box-sizing: border-box;
  position: relative;
  min-width: 320px;
  min-height: 200px;
  padding: 39px 30px 0 30px;
  background-color: #ffffff;
}

.sedona-intro__title {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  text-transform: uppercase;
}

.sedona-intro__intro {
  margin: 0;
  text-align: center;
  font-size: @sedona-regular-size;
  text-transform: uppercase;
  line-height: 24px;
}

.sedona-intro__second-page {
  padding: 35px 23px 0 23px;
  min-height: 185px;
}

@media (min-width: @tablet-width) {
  .sedona-intro__second-page {
    height: 250px;
  }
}
