.sedona-reason__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.sedona-reason__item {
  padding: 0 15px;

  &--image {
    position: relative;
    height: 412px;
    padding: 40px 0 0 0;
    background-color: @sedona-main-color;
    color: #ffffff;
  }

  &--image-decore {
    height: 412px;
    padding-top: 78px;

    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 320px;
      height: 40px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
    }
  }

  &--text-block-one {
    padding: 0 15px;
    margin-bottom: 38px;
  }

  &--text-block-two {
    padding: 0 15px;
    margin-bottom: 38px;
  }

  &--featerus {
    padding: 0;
    margin: 0;
  }

  &--block {
    padding: 0;
  }
}

.sedona-reason__photo-reason-one {
  width: 320px;
  height: 260px;
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sedona-reason__photo-reason-two {
  width: 320px;
  height: 260px;
  background-image: url("../img/photo-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sedona-reason__reason-title {
  text-align: center;
  margin: 0 0 4px 0;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  text-transform: uppercase;
}

.sedon-reason__reason-description {
  text-align: center;
  margin: 0;
  font-size: @sedona-regular-size;
  text-transform: uppercase;
  line-height: 23px;
}

.sedon-reason__reason-number {
  text-align: center;
  margin: 0 0 13px 0;
  font-size: @sedona-regular-size;
  text-transform: uppercase;
}

.sedona-reason__mini-block {
  list-style: none;
  margin: 0;
  padding: 0;
}

.senoda-reason__bg {
  box-sizing: border-box;
  background-color: #eeeeee;
  padding: 27px 35px 0 35px;
  min-height: 167px;
}

@media (min-width: @tablet-width) {
  .sedona-reason__item {
    min-height: 256px;

    &--image {
      display: flex;
      flex-shrink: 0;
      height: 256px;
      padding: 0;
      background-color: @sedona-main-color;
      color: #ffffff;
    }

    &--image-decore {
      &::before {
        display: none;
      }
    }

    &--text-block-one {
      box-sizing: border-box;
      margin: 0;
      width: 33.3%;
    }

    &--text-block-two {
      box-sizing: border-box;
      order: 2;
      margin: 0;
      width: 33.3%;
    }
  }

  .sedona-reason__photo-reason-one {
    width: 66.6%;
    height: 100%;
  }

  .sedona-reason__photo-reason-two {
    width: 66.6%;
    height: 100%;
  }

  .sedona-reason__mini-block {
    display: flex;
  }
}
