.sedona-feature {
  list-style: none;
  margin: 0;
  padding: 20px 0 0 0;
}

.sedona-feature__item {
  position: relative;
  padding: 13px 20px 0 70px;
  margin-bottom: 17px;
  min-height: 80px;

  &--food {
    margin-bottom: 38px;
  }
}

.sedona-feature__title {

  margin: 0 0 13px 0;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &--house::before {
    background-image: url("../../img/icon-house.svg");
  }

  &--souvenirs::before {
    background-image: url("../../img/icon-gift.svg");
  }

  &--food::before {
    background-image: url("../../img/icon-burger.svg");
  }
}

.sedon-feature__description {
  margin: 0;
  font-size: @sedona-regular-size;
  text-transform: uppercase;
  line-height: 21px;
}

@media (min-width: @tablet-width) {
  .sedona-feature {
    display: flex;
    box-sizing: border-box;
    height: 330px;
  }

  .sedona-feature__item {
    box-sizing: border-box;
    width: 33.333333%;
    text-align: center;
    margin: 0;
    padding: 140px 45px 0 45px;

    &--souvenirs {
      order: 2;
    }

    &--food {
      padding: 140px 49px 0 49px;
    }
  }

  .sedona-feature__title {
    font-size: 21px;
    margin-bottom: 20px;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      width: 75px;
      height: 75px;
      top: 40px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &--house::before {
      background-image: url("../../img/icon-house.svg");
    }

    &--souvenirs::before {
      background-image: url("../../img/icon-gift.svg");
    }

    &--food::before {
      background-image: url("../../img/icon-burger.svg");
    }
  }
}
