.sedona-reason__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sedona-reason__item {
  padding: 0 15px;

  &--image {
    position: relative;
    height: 412px;
    padding: 40px 0 0 0;
    background-color: @sedona-main-color;
    color: #ffffff;
  }

  &--image-decore {
    height: 412px;
    padding-top: 78px;
    margin-bottom: 20px;

    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 320px;
      height: 40px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
    }
  }

  &--image-block {
    padding: 0 15px;
    margin-bottom: 38px;
  }
}

.sedona-reason__reason-title {
  text-align: center;
  margin: 0 0 4px 0;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  text-transform: uppercase;
}

.sedon-reason__reason-description {
  text-align: center;
  margin: 0;
  font-size: @sedona-regular-size;
  text-transform: uppercase;
  line-height: 23px;
}

.sedon-reason__reason-number {
  text-align: center;
  margin: 0 0 13px 0;
  font-size: @sedona-regular-size;
  text-transform: uppercase;
}

.sedona-reason__feature {
  padding: 15px 20px 0 70px;
  margin-bottom: 14px;
  min-height: 80px;

  &--food {
    margin-bottom: 38px;
  }
}

.sedona-reason__feature-title {
  margin: 0 0 13px 0;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  text-transform: uppercase;
}

.sedon-reason__feature-description {
  line-height: 21px;
}

.senoda-reason__bg {
  box-sizing: border-box;
  background-color: #eeeeee;
  padding: 27px 35px 0 35px;
  min-height: 167px;
}
