.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  font-family: @sedona-title-font;
  background-color: #ffffff;
}

.site-list__item {
  height: 55px;
  background-color: @sedona-main-color;
}

.site-list__link {
  display: block;
  text-align: center;
  padding-top: 16px;
  font-size: @sedona-title-size;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    background-color: #ffffff;
  }

  .site-list__item {
    background-color: #ffffff;
  }

  .site-list__link {
    color: #000000;
  }

}

@media (min-width: @desktop-width) {

}
