.video-block__intro {
  text-align: center;
  padding: 35px 30px 0 30px;
}



.video-block__title {
  margin: 0 0 26px 0;
  font-size: @sedona-title-size;
  font-family: @sedona-title-font;
  text-transform: uppercase;
}

.video-blcok__discription {
  margin: 0;
  font-size: @sedona-regular-size;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 30px;
}

